body {
    background: #545659;
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
    border-width: 0px;
	}

div#page-content {
    width: 960px;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
	}

div#header {
    background-image: url('redmond/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png');
    background-repeat: repeat-x;
    height: 100px;
    width: 960px;
	}

div#login-link {
	position: relative;
	top: -50px;
	left: 900px;
	width: 50px;
	}
	
div#header-text {
	margin-left: 20px;
	position: relative;
	top: 15px;
	}
	
div#content {
    width: 960px;
	}

div#quote-column1 {
	width: 600px;
	}
	
div#quote-column2 {
	position: relative;
	top: -70px;
	}

div#cnrl-logo {
	position: relative;
	top: -140px;
	left: 650px;
	}

div#tabs {
    width: 930px;
    position: relative;
    left: 50%;
    margin-left: -470px;
    top: 20px;
	}

div#footer {
    height: 100px;
    width: 960px;
    margin-bottom: 50px;
	}

div#footer-content {
	text-align: center;
	color: #999;
	position: relative;
	top: 20px;
	}
	
#jqueryui-link {
	position: relative;
	left: -10px;
	}
	
#python-link {
	position: relative;
	left: 10px;
	}

.footer-link {
	position: relative;
	top: 5px;
	}
	
a#change-password-link {
	font-size: 0.7em;
	}
	
div#error-message {
	text-align: center;
	}
	
input#datepicker {
	position: relative;
	top: -40px;
	left: 130px;
	}
	
div#minutes-label {
	position: relative;
	top: 10px;
	}

textarea#minutes-data {
	position: relative;
	top: -15px;
	resize: none;
}

div.meeting-minutes-item,
div.progress-item {
	border-style: solid;
	border-width: 1px;
	border-color: #BBB;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.minutes-title {
	text-decoration: underline;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 5px;
}

div#meeting-minutes-month-radio {
	position: relative;
	left: 35px;
}

div.minutes-data,
div.progress-data {
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	word-wrap: break-word;
	}
	
div#sign-out-link {
	position: relative;
	top: -50px;
	left: 888px;
	width: 66px;
	}