form#reset-password {
	position: relative;
	left: 490px;
	width: 150px;
	top: -100px
	}

div#form-labels {
	position: relative;
	width: 140px;
	left: 340px;
	top: 20px;
	text-align: right;
	}
		
input#username {
	position: relative;
	top: -25px;
	}
	
input#old-password {
	position: relative;
	top: -10px;
	}
	
input#new-password {
	position: relative;
	top: 5px;
	}
	
input#new-password2 {
	position: relative;
	top: 20px;
	}
	
button.passwd-button {
	position: relative;
	top: 35px;
}

div#content {
	height: 220px;
	}
	
div#error-message {
	text-align: center;
	position: relative;
	left: 230px;
	width: 500px;
	top: -50px;
	}

div#dialog-text { 
	text-align: center;
	}